## Observations and Insights

In [19]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
mergedata=pd.merge(mouse_metadata,study_results,on='Mouse ID')

# Display the data table for preview
mergedata.head()
# mergedata.dtypes

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [20]:
# Checking the number of mice.
micecount=len(mergedata['Mouse ID'].unique())
micecount

249

In [21]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
# mergedata.count()
# getdupe=mergedata.groupby(['Mouse ID'])
# # getdupe.count()
# getdupe=pd.Series(mergedata['Mouse ID']).is_unique
# getdupe
# pd.Series(df['Student']).is_unique
duplicate_df=mergedata
# equals true in case of no duplicates
# df1 = df['1st Column Name'].map(str) + df['2nd Column Name'].map(str) + ...

# Create New ID column that concatenates Mouse ID and Timepoint
concatenate1=duplicate_df['Mouse ID']+duplicate_df['Timepoint'].map(str)
concatenate2=duplicate_df['Mouse ID']+duplicate_df['Timepoint'].map(str)

# find_dupe=pd.Series(concatenate['New ID']).is_unique
# find_dupe

# Add New ID columns to dataframe
duplicate_df['New ID']=concatenate1
duplicate_df['New ID2']=concatenate2

duplicate_df

find_dupe = duplicate_df[duplicate_df.duplicated(subset=['New ID2'],keep=False)]

                         
# df = df[df.duplicated(subset=['val1','val2'], keep=False)]
# print (df)
#                          # Create new Dataframe with only New ID columns

#                             newID_df=pd.DataFrame(duplicate_df,columns=['New ID','New ID2'])
#                             newID_df

# Group New ID Dataframe by New ID column
#                             group_newID=newID_df.groupby(['New ID'])
#                             group_newID.count()

# sort_newID=group_newID.sort_values('New ID2', ascending=False)

# sortallschooldata=all_school_data.sort_values('% Overall Passing',ascending=False)

# print(group_newID.sort_values('New ID2',ascending=False).sort_index(level=0,sort_remaining=False))

# print (df.sort_values('Total Compensation', ascending=False)
#          .sort_index(level=0, sort_remaining=False))
# DataFrame. sort_values(by, ascending) 
# group_newID.sort_values(['New ID2'], descending)

# locate_dupe=group_newID.loc[(group_newID['New ID2']>1)]
# pass_math_byschool=student_data_df.loc[(student_data_df['math_score']>=70)]
# sort_group=group_newID.sort_values(['New ID2'], ascending=False)
# sort_group.count()
                     
# # Count New ID field
# newIDcount=duplicate_df['New ID'].count()
# duplicate_df

# Count New ID column
#                 newIDcount


#                 newID1_df=pd.DataFrame(duplicate_df,columns=['New ID','New ID'])

# newID_df.rename(columns={})
# newID_df.groupby(['New ID'])
#                 newID_df
# goodgoodgood



# student_count=redo_group['Student ID'].count()

# dropdupes=duplicate_df.drop_duplicates('New ID')
# dropdupes
# df.drop_duplicates('student')


# score_group=redo_group.agg({"Student ID":'count',"math_score":'mean',"reading_score":'mean'})

In [22]:
# Optional: Get all the data for the duplicate mouse ID. 

find_dupe

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites,New ID,New ID2
908,g989,Propriva,Female,21,26,0,45.000000,0,g9890,g9890
909,g989,Propriva,Female,21,26,0,45.000000,0,g9890,g9890
910,g989,Propriva,Female,21,26,5,48.786801,0,g9895,g9895
911,g989,Propriva,Female,21,26,5,47.570392,0,g9895,g9895
912,g989,Propriva,Female,21,26,10,51.745156,0,g98910,g98910
913,g989,Propriva,Female,21,26,10,49.880528,0,g98910,g98910
914,g989,Propriva,Female,21,26,15,51.325852,1,g98915,g98915
915,g989,Propriva,Female,21,26,15,53.442020,0,g98915,g98915
916,g989,Propriva,Female,21,26,20,55.326122,1,g98920,g98920
917,g989,Propriva,Female,21,26,20,54.657650,1,g98920,g98920

In [26]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
# df.drop(df.loc[df['line_race']==0].index, inplace=True)
clean_frame=duplicate_df.drop(duplicate_df.loc[duplicate_df['Mouse ID'] == 'g989'].index)
print(clean_frame)
clean_frame_master=pd.DataFrame(clean_frame)
clean_frame_master

     Mouse ID Drug Regimen   Sex  Age_months  Weight (g)  Timepoint  \
0        k403     Ramicane  Male          21          16          0
1        k403     Ramicane  Male          21          16          5
2        k403     Ramicane  Male          21          16         10
3        k403     Ramicane  Male          21          16         15
4        k403     Ramicane  Male          21          16         20
...       ...          ...   ...         ...         ...        ...
1888     z969     Naftisol  Male           9          30         25
1889     z969     Naftisol  Male           9          30         30
1890     z969     Naftisol  Male           9          30         35
1891     z969     Naftisol  Male           9          30         40
1892     z969     Naftisol  Male           9          30         45

      Tumor Volume (mm3)  Metastatic Sites  New ID New ID2
0              45.000000                 0   k4030   k4030
1              38.825898                 0   k4035   k4035
2              35.014271                 1  k40310  k40310
3              34.223992                 1  k40315  k40315
4              32.997729                 1  k40320  k40320
...                  ...               ...     ...     ...
1888           63.145652                 2  z96925  z96925
1889           65.841013                 3  z96930  z96930
1890           69.176246                 4  z96935  z96935
1891           70.314904                 4  z96940  z96940
1892           73.867845                 4  z96945  z96945

[1880 rows x 10 columns]

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites,New ID,New ID2
0,k403,Ramicane,Male,21,16,0,45.000000,0,k4030,k4030
1,k403,Ramicane,Male,21,16,5,38.825898,0,k4035,k4035
2,k403,Ramicane,Male,21,16,10,35.014271,1,k40310,k40310
3,k403,Ramicane,Male,21,16,15,34.223992,1,k40315,k40315
4,k403,Ramicane,Male,21,16,20,32.997729,1,k40320,k40320
...,...,...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2,z96925,z96925
1889,z969,Naftisol,Male,9,30,30,65.841013,3,z96930,z96930
1890,z969,Naftisol,Male,9,30,35,69.176246,4,z96935,z96935
1891,z969,Naftisol,Male,9,30,40,70.314904,4,z96940,z96940
1892,z969,Naftisol,Male,9,30,45,73.867845,4,z96945,z96945

In [6]:
# Checking the number of mice in the clean DataFrame.

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [8]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [9]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pandas.

In [10]:
# Generate a bar plot showing the total number of unique mice tested on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen